body {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: auto;
}

.container {
  width: 80%;
  height: auto;
  min-width: 320px;
  max-width: 1200px;
  margin: 0;
  overflow: auto;
  margin-right: auto;
  margin-left: auto;
  overflow: auto;
}

.header {
  background: linear-gradient(#feca57, #ff9f43);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.wrapper_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 10px;
}

/* btn of navbar */

.menu_bar_link {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-end;
  padding: 20px 0px;
}

.menu_bar_link--item {
  text-decoration: none;
  margin: 10px 40px;
  padding: 5px;
  color: white;
  border: 2px solid transparent;
}

.menu_bar_link--item:hover {
  border: 2px solid white;
  border-radius: 10px;
}

/* Autor info - wrapper_2*/
.wrapper_2,
.aditional {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.aditional {
  margin: 120px 0px 110px;
  flex-basis: 40%;
}

.gabo_img {
  width: 800px;
  height: 300px;
  min-width: 320px;
  max-width: 100%;
  min-height: 250px;
  box-shadow: 18px -17px 0px 1px;
  object-fit: cover;
  color: #f1c40f;
}

.autor_info {
  line-height: 25px;
  flex-basis: 50%;
  align-self: center;
  text-align: center;
  overflow-y: auto;
}

/* wrapper_3 - library*/

.wrapper_3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  color: black;
}

.subtitle2 {
  text-align: center;
  color: black;
  margin: 100px 0px;
}

.library_item {
  width: 247px;
  height: 322px;
  border-radius: 5px;
  box-shadow: -12px 9px 5px #dfe4ea;
}

.text-book {
  text-align: center;
  align-self: center;
  margin: 20px 12px 5px;
}

.year-book {
  margin: 5px 0px;
}

.wrapper_4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding-bottom: 150px;
}

.final-title {
  margin-top: 150px;
  margin-bottom: 77px;
  color: black;
  text-align: center;
}

.info-text {
  flex-basis: 50%;
  line-height: 21px;
  text-align: left;
}

.info-text_item {
  margin: 15px 0px;
}

.gabo-award {
  width: 335px;
  box-shadow: -16px 15px 0px 1px;
  color: #f1c40f;
  object-fit: contain;
  flex-basis: 30%;
}

.finalSection {
  color: white;
  text-align: center;
  background: linear-gradient(#feca57, #ff9f43);
  height: 100px;
  padding-top: 40px;
}

.moreinfo-link {
  text-decoration: none;
  color: #ff6348;
}
.moreinfo-link:hover {
  color: #581845;
}

@media screen and (max-width: 768px) {
  .wrapper_2,
  .aditional,
  .wrapper_3 {
    flex-direction: column;
  }

  .autor_info,
  .gabo_img {
    flex-basis: 100%;
  }

  .book1,
  .book2,
  .book3 {
    margin-bottom: 30px;
  }

  .menu_bar_link--item {
    margin: 10px 10px;
  }

  .menu_bar_link {
    padding-right: 40px;
  }

  .wrapper_1 {
    padding-top: 150px;
  }

  .title {
    font-size: 1.7em;
  }

  .wrapper_4 {
    flex-wrap: wrap-reverse;
  }

  .gabo-award,
  .info-text {
    flex-basis: 100%;
    margin: 35px;
  }
}
